    @media (max-width: 768px) {
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
    
        .fullscreen {
            display: flex; /* Centra contenido */
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
            padding: 5%;
        }

        .content {
            padding-bottom: 150px;
        }
    
        .video-bg {
            object-fit: cover;
            z-index: -1;
        }

        .logoprincipal {
            width: 45%;
            padding-top: 20px;
        }
        .logolargo {
            width: 100%;
        }

        .subtitulo1 {
            font-size: 35px;
            padding-top: 20px;
        }
    
        .subtitulo2 {
            font-size: 35px;
        }
        
        .btntext-bajar {
            position: absolute;
            bottom: 0px;
            right: 0px;
            color: var(--primary-color);
            font-size: 25px;
        }
        
        .arrow-icon {
            width: 54px; /* Ajusta el tamaño de la flecha */
            height: 54px; /* Ajusta el tamaño de la flecha */
            margin-left: 0px; /* Añade un espacio entre el texto y la flecha */
        }






        .container-principal{
            padding:0% 10%;
           }
        
           .content-grup{
            padding: 40px 0px 20px 0px ;
           }


           .content-title{
            font-size: 23px;
            border-bottom: solid 2px var(--color-3)
           }
    
           .content-text{
            font-size: 13px;
            letter-spacing: 1px;
            text-align: justify;
           }

           .cnt-card-group {
            gap: 10px;
        }
    
           .cnt-card{
            width: calc(50% - 8px);
           }

           .card-number{
            font-size: 10em;
           }
    
           .card-text{
           font-size: 20px;
           padding-bottom: 15px;
           letter-spacing: 1px;
           }

           .content-info{
            font-size: 25px;
            margin: 40px 0px 0px 0px;
            padding: 20px;
            background-color: var(--color-4);
           }

           .cnt-li{
            font-size: 13px;
            letter-spacing: 1px;
            text-align: justify;
           }
    
           .cnt-li-title{
            font-size: 13px;
            letter-spacing: 1px;
           }

           .content-contact{
            font-size: 15px;   
            text-align: center; 
           }
           .content-contact i{
            font-size: 25px;
            padding-right: 15px;
            color: var(--color-3)
           }

           .footer {
            font-size: 11px;
           }
}